<div class="firstVideos">
  <ul *ngFor="let video of firstVideos">
    <li>
      <img class="imgFirstVideo" src='../../../assets/images/first-videos-home/{{video.image}}' alt="">
      <div class="textInformations">
        <div>
          <i class="bi bi-circle-fill"></i>
          <h4 class="titleVideo">{{video.title}}</h4>
        </div>
        <span class="descVideo">{{video.chanel}}</span>
        <span class="descVideo">{{video.views}} views - {{video.released}}</span>
      </div>
    </li>
  </ul>
</div>
<hr>

<span>Shorts</span>
<div class="shorts">
  <ul *ngFor="let short of shortsVideos">
    <li>
      <img class="imgShorts" src="../../../assets/images/shorts-home/{{short.image}}" alt="">
      <div class="textInformations">
        <h4 class="titleVideo">{{short.title}}</h4>
        <span class="descVideo">{{short.views}} views</span>
      </div>
    </li>
  </ul>
</div>
<hr>

<span>Principais notícias</span>
<div class="secondaryVideos">
  <ul *ngFor="let video of topNewsVideos">
    <li>
      <img class="imgFirstVideo" src='../../../assets/images/topnews-home/{{video.image}}' alt="">
      <div class="textInformations">
        <div>
          <i class="bi bi-circle-fill"></i>
          <h4 class="titleVideo">{{video.title}}</h4>
        </div>
        <span class="descVideo">{{video.chanel}}</span>
        <span class="descVideo">{{video.views}} views - {{video.released}}</span>
      </div>
    </li>
  </ul>

</div>
