.firstVideos, .shorts, .secondaryVideos{
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    gap: 10px;
    color: aliceblue;
}

span{
    color: aliceblue;
}

.imgFirstVideo{
    width: 250px;
    height: 135px;
    padding: 5px;
}

.imgShorts{
    width: 150px;
    height: 235px;
    padding: 5px;
}

.titleVideo{
    font-size: 11px;
}

.descVideo{
    font-size: 10px;
    color: gray;
    padding-left: 35px;
}

.textInformations{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.bi-circle-fill{
    font-size: 25px;
}
.textInformations div{
    display: flex;
    gap: 7px;
    align-items:center;
    padding: 0;
    margin-bottom: -5px;
}

.firstVideos ul, .shorts ul, .secondaryVideos ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    list-style: none;
}

.firstVideos li, .secondaryVideos li{
    width: 250px;
    height: 210px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.shorts li{
    height: 300px;
    width: 150px;
    cursor: pointer;
}

li:hover img{
    border: 2px orange solid;
}