<div class="menu" [ngClass]="{activedMenu: menuActive}">
  
  <ul>
    <div class="liShow"[ngClass]="{hidden: menuActive}">
      <li [routerLink]="['/home']">
        <i class="bi bi-house"></i>
        <span>Inicio</span>
      </li>
      <li [routerLink]="['/explore']">
        <i class="bi bi-compass"></i>
        <span>Explorar</span>
      </li>
      <li [routerLink]="['/inscricoes']">
        <i class="bi bi-collection-play"></i>
        <span>Inscrições</span>
      </li>
      <li [routerLink]="['/shorts']">
        <i class="bi bi-watch"></i>
        <span>Shorts</span>
      </li>
      <li [routerLink]="['/biblioteca']">
        <i class="bi bi-front"></i>
        <span>Biblioteca</span>
      </li>
    </div>

    <div class="liHidden" [ngClass]="{show: menuActive}">
      
      <li>
        <i class="bi bi-house"></i>
        <span>Inicio</span>
      </li>
      <li>
        <i class="bi bi-compass"></i>
        <span>Explorar</span>
      </li>
      <li>
        <i class="bi bi-collection-play"></i>
        <span>Inscrições</span>
      </li>
      <li>
        <i class="bi bi-watch"></i>
        <span>Shorts</span>
      </li>
      <hr>
      <li>
        <i class="bi bi-front"></i>
        <span>Biblioteca</span>
      </li>
      <li>
        <i class="bi bi-arrow-counterclockwise"></i>
        <span>Histórico</span>
      </li>
      <li>
        <i class="bi bi-file-play-fill"></i>
        <span>Seus vídeos</span>
      </li>
      <li>
        <i class="bi bi-clock"></i>
        <span>Assistir mais tarde</span>
      </li>
      <li>
        <i class="bi bi-scissors"></i>
        <span>Seus clipes</span>
      </li>
      <li>
        <i class="bi bi-caret-down"></i>
        <span>Mostrar mais</span>
      </li>
      <hr>
    </div>
  </ul>
</div>
