header{
    background-color: rgb(26, 34, 42);
    color: aliceblue;
    position: relative;
    width: 100vw;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    list-style: none;
    width: 100vw;
    height: auto;
    position: relative;
}

.nav-list li{
    display: flex;
    position: relative;
    width: 100%;
}

.bi-list{
    padding-right: 20px;
    padding-left: 15px;
    font-size: 25px;
}

.firstLiMenu, .secondLiMenu{
    display: flex;
    gap: 6px;
    align-items: center;
}

.input-group{
    display: flex;
    align-items: center;
    width: 90%;
}
#form1{
    background-color: rgb(7, 10, 9);
    border-radius: 0%;
    border: none;
    padding: 10px;
    height: 35px;
    width: 80%;
    color: aliceblue;
}

.bi-search{
    background-color: rgb(71, 75, 74);
    font-size: 12px;
    position: relative;
    padding: 10px;
    height: 35px;
    width: 50px;
    text-align: center;
}

.bi-mic-fill{
    background-color: rgb(24, 19, 19);
    border-radius: 80%;
    font-size: 15px;
    height: 30px;
    width: 10%;
    text-align: center;
    padding-top: 3px;
}

.lastLiMenu{
    display: flex;
    gap: 30px;
    padding-right: 30px;
    justify-content: flex-end;
}


i{
    font-size: 20px;
    cursor: pointer;
}

i:hover{
    color: red;
}

h6{
    font-size: 15px;
    cursor: pointer;
}

svg{
    cursor: pointer;
}

/* RESPONSIVIDADE */

@media (max-width: 900px) {

   
    .forHidde{
        display: none;
    }

    .secondLiMenu .bi{
        background-color: rgb(26, 34, 42);
        left: 60%;
    }
    .lastLiMenu .bi{
        position: relative;
        right: 30%;
    }

}