.wraper{
    position: relative;
    width: 92vw;
    height: 100%;
    background-color: rgb(7, 10, 9);
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 20px;
}

.activedMenu{
    width: 88vw;
}

/* RESPONSIVIDADE */

@media (max-width: 550px){
    .wraper{
        width: 100vw;
    }
}