<div class="wraper">
  <div class="category">
    <ul>
      <li>
        <i class="bi bi-fire"></i>
        <span>Em alta</span>
      </li>
      <li>
        <i class="bi bi-music-note-beamed"></i>
        <span>Músicas</span>
      </li>
      <li>
        <i class="bi bi-film"></i>
        <span>Filmes</span>
      </li>
      <li>
        <i class="bi bi-broadcast-pin"></i>
        <span>Ao vivo</span>
      </li>
      <li>
        <i class="bi bi-controller"></i>
        <span>Jogos</span>
      </li>
      <li>
        <i class="bi bi-newspaper"></i>
        <span>Notícias</span>
      </li>
      <li>
        <i class="bi bi-trophy-fill"></i>
        <span>Esportes</span>
      </li>
      <li>
        <i class="bi bi-lightbulb-fill"></i>
        <span>Aprender</span>
      </li>
    </ul>
  </div>

  <div class="videosEmAlta">
    <span>Vídeos em alta</span>
    <ul>
      <li *ngFor="let video of twoVideosOnHigh">
        <img src="../../../assets/images/first-videos-home/{{video.image}}" alt="">
        <div class="infoVideo">
          <h6>{{video.title}}</h6>
          <span>{{video.chanel}} * {{video.views}} * {{video.released}}</span>
          <span class="description">{{video.description}}</span>
        </div>
      </li>

    </ul>
  </div>
  <div class="shortsEmAlta">
    <span>Shorts em alta</span>
    <ul>
      <li *ngFor="let video of shortsOnHigh">
        <img src="../../../assets/images/shorts-home/{{video.image}}" alt="">
        
        <div class="infoShorts">
          <h6>{{video.title}}</h6>
          <span>{{video.chanel}}</span>
          <span>{{video.views}} * {{video.released}}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="videosEmAlta">
    <span>Vídeos em alta</span>
    <ul>
      <li *ngFor="let video of otherVideosOnHigh">
        <img src="../../../assets/images/first-videos-home/{{video.image}}" alt="">
        <div class="infoVideo">
          <h6>{{video.title}}</h6>
          <span>{{video.chanel}} * {{video.views}} * {{video.released}}</span>
          <span class="description">{{video.description}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
